<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.fanke.miniprogram.article.mapper.ArticleMapper">

    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>
        INSERT INTO article
        (
        title,
        TYPE,
        content,
        insert_author,
        img_urls,
        cover_urls,
        article_type,
        category,
        update_author
        )
        VALUES
        (
        #{title},
        #{type},
        #{content},
        #{user_id},
        #{img_urls},
        #{cover_urls},
        #{article_type},
        #{category},
        #{user_id}
        );
    </insert>

    <select id="listByArticle" parameterType="java.util.Map" resultMap="listByArticleMap">
        SELECT 	a.*,a.insert_author ui,a.id idi,#{login_user_id} uii,a.id uiii,'0' as ss	FROM article a
        <where>
            <if test="title != null and title != ''">and a.title = #{title}</if>
            <if test="type != null and type != ''">and a.type = #{type}</if>
            <if test="category != null and category != ''">and a.category = #{category}</if>
            <if test="state != null and state != ''">and a.state = #{state}</if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
            <if test="insert_author != null and insert_author != ''">and a.insert_author = #{insert_author}</if>
            <if test="insert_authors != null and insert_authors != ''">and find_in_set(a.insert_author, #{insert_authors})</if>
        </where>
        order by insert_time desc
    </select>

    <select id="getByArticleId" parameterType="java.util.Map" resultMap="listByArticleMap">
        SELECT 	a.*,a.insert_author ui,a.id idi,#{login_user_id} uii,a.id uiii,'0' as ss FROM article a
        <where>
            and id = #{id}
            <if test="title != null and title != ''">and a.title = #{title}</if>
            <if test="type != null and type != ''">and a.type = #{type}</if>
            <if test="state != null and state != ''">and a.state = #{state}</if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
        </where>
    </select>

    <resultMap id="listByArticleMap"  type="java.util.Map">
        <collection property="user" javaType="java.util.Map" column="ui" select="getByUserId"/>
        <collection property="articleInfo" javaType="java.util.Map" column="{user_id=uii,article_id=idi}" select="getByUserIdAndArticleId"/>
        <collection property="articleComment" javaType="java.util.List" column="{article_id=uiii,state=ss}" select="listByArticleComment"/>
    </resultMap>

    <select id="getByUserId" parameterType="java.lang.String" resultType="java.util.Map">
        select a.*,a.id ui from `user` a where a.id = #{user_id}
    </select>

    <select id="getByUserIdAndArticleId" resultType="java.util.Map">
      SELECT a.* FROM article_info a where a.user_id = #{user_id} and a.article_id = #{article_id}
    </select>

    <select id="listByArticleComment" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT a.*, a.user_id ui
        FROM
        article_comment a
        <where>
            <if test="state != null and state != ''">and a.state = #{state}</if>
            <if test="article_id != null and article_id != ''">and a.article_id = #{article_id}</if>
            <if test="user_id != null and user_id != ''">and a.user_id = #{user_id}</if>
        </where>
        order by insert_time desc
    </select>

    <update id="update" parameterType="java.util.Map">
        UPDATE article a
        <set>
            a.update_time = now(),
            <if test="title != null and title != ''">a.title = #{title},</if>
            <if test="type != null and type != ''">a.type = #{type},</if>
            <if test="state != null and state != ''">a.state = #{state},</if>
            <if test="status != null and status != ''">a.status = #{status},</if>
            <if test="content != null and content != ''">a.content = #{content},</if>
            <if test="update_author != null and update_author != ''">a.update_author = #{update_author},</if>
        </set>
        WHERE
          a.id = #{id};
    </update>

    <update id="like" parameterType="java.util.Map">
        update `article` set `like` = `like` + 1 where id = #{article_id};
        update article_info set `like` = 1 where id = #{article_info_id};
    </update>

    <update id="unLike" parameterType="java.util.Map">
        update `article` set `like` = `like` - 1 where id = #{article_id};
        update article_info set `like` = 0 where article_id = #{article_id} and user_id = #{user_id};
    </update>

    <update id="favorite" parameterType="java.util.Map">
        update `article` set favorite = favorite + 1 where id = #{article_id};
        update article_info set favorite = 1 where id = #{article_info_id};
    </update>

    <update id="unFavorite" parameterType="java.util.Map">
        update `article` set favorite = favorite - 1 where id = #{article_id};
        update article_info set favorite = 0 where article_id = #{article_id} and user_id = #{user_id};
    </update>

    <update id="comment" parameterType="java.util.Map">
        update `article` set comment = comment + 1 where id = #{article_id};
    </update>

    <update id="delComment" parameterType="java.util.Map">
        update `article` set comment = comment - 1 where id = #{article_id};
    </update>


</mapper>