<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.fanke.miniprogram.article.mapper.ArticleCommentMapper">

    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>
        INSERT INTO article_comment
        (
        article_id,
        user_id,
        to_user_id,
        img_urls,
        content
        )
        VALUES
        (
        #{article_id},
        #{user_id},
        #{to_user_id},
        #{img_urls},
        #{content}
        );
    </insert>

    <update id="update" parameterType="java.util.Map">
        UPDATE article_comment a
        <set>
            <if test="content != null and content != ''">a.content = #{content},</if>
            <if test="state != null and state != ''">a.state = #{state},</if>
        </set>
	    WHERE a.id = #{id} ;
    </update>

    <select id="listByArticleComment" parameterType="java.util.Map" resultMap="listByArticleCommentMap">
    SELECT a.*, a.user_id ui
        FROM
        article_comment a
        <where>
            <if test="state != null and state != ''">and a.state = #{state}</if>
            <if test="article_id != null and article_id != ''">and a.article_id = #{article_id}</if>
            <if test="user_id != null and user_id != ''">and a.user_id = #{user_id}</if>
        </where>
        order by insert_time desc
    </select>

    <resultMap id="listByArticleCommentMap"  type="java.util.Map">
        <collection property="user" javaType="java.util.Map" column="ui" select="getByUserId"/>
    </resultMap>

    <select id="getByUserId" parameterType="java.lang.String" resultType="java.util.Map">
        select a.*,a.id ui from `user` a where a.id = #{user_id}
    </select>


</mapper>