<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.fanke.miniprogram.institute.mapper.InstituteMapper">

    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>
        INSERT INTO institute
        (
            `name`,
            `describe`,
            phone,
            `type`,
            address,
            cover_urls,
            img_urls,
            institute_type,
            institute_type_child,
            insert_author,
            update_author
        )
        VALUES
        (
            #{name},
            #{describe},
            #{phone},
            #{type},
            #{address},
            #{cover_urls},
            #{img_urls},
            #{institute_type},
            #{institute_type_child},
            #{insert_author},
            #{insert_author}
        );
    </insert>

    <select id="listByInstitute" parameterType="java.util.Map" resultType="java.util.Map">
        select a.* from institute a
        <where>
            <if test="name != null and name != ''">and a.name like concat('%',#{name},'%')</if>
            <if test="type != null and type != ''">and a.type like concat('%',#{type},'%')</if>
            <if test="phone != null and phone != ''">and a.phone like concat('%',#{phone},'%')</if>
            <if test="state != null and state != ''">and a.state = #{state}</if>
            <if test="statuses != null and statuses != ''">and find_in_set(a.status, #{statuses})</if>
            <if test="institute_type != null and institute_type != ''">and find_in_set(#{institute_type}, a.institute_type)</if>
            <if test="institute_type_child != null and institute_type_child != ''">and find_in_set(#{institute_type_child}, a.institute_type_child)</if>
        </where>
        order by insert_time desc
    </select>

    <select id="getByInstitute" parameterType="java.util.Map" resultType="java.util.Map">
        select a.* from institute a
        <where>
            <if test="id != null and id != ''">and a.id = #{id}</if>
            <if test="name != null and name != ''">and a.name like concat('%',#{name},'%')</if>
            <if test="type != null and type != ''">and a.type like concat('%',#{type},'%')</if>
            <if test="phone != null and phone != ''">and a.phone like concat('%',#{phone},'%')</if>
            <if test="state != null and state != ''">and a.state = #{state}</if>
        </where>
    </select>

    <update id="update" parameterType="java.util.Map">
        update institute
        <set>
            update_time = now(),
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="type != null and type != ''">`type` = #{type},</if>
            <if test="name != null and name != ''">`name` = #{name},</if>
            <if test="describe != null and describe != ''">`describe` = #{describe},</if>
            <if test="institute_type != null and institute_type != ''">`institute_type` = #{institute_type},</if>
            <if test="institute_type_child != null and institute_type_child != ''">`institute_type_child` = #{institute_type_child},</if>
        </set>
        where
        <if test="id != null and id != ''">id = #{id}</if>
        <if test="ids != null and ids != ''">find_in_set(id, #{ids})</if>
    </update>



</mapper>