<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.fanke.miniprogram.user.mapper.UserSignInMapper">
    <insert id="insert" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>
        INSERT INTO `user_sign_in`
        (
        user_id
        )
        VALUES
        (
        #{user_id}
        );
    </insert>

    <select id="listByUserSignIn" parameterType="java.util.Map" resultType="java.util.Map">
        select * from `user_sign_in`
        <where>
            <if test="user_id != null and user_id != ''">and user_id = #{user_id}</if>
            <if test="day_date != null and day_date != ''">and to_days(sign_in_time) = to_days(#{day_date})</if>
            <if test="month_date != null and month_date != ''">and DATE_FORMAT(sign_in_time,'%Y%m') = DATE_FORMAT(#{month_date},'%Y%m')</if>
        </where>
    </select>

</mapper>