<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mobile.phone.lock.mapper.LockOrderMapper">
    <insert id="insert" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>-->
        INSERT INTO lock_order
        (
        lock_no,
        fee,
        order_no,
        user_id,
        insert_author,
        update_author
        )
        VALUES
        (
        #{lock_no},
        #{fee},
        #{order_no},
        #{user_id},
        #{user_id},
        #{user_id}
        );
    </insert>
    <update id="update" parameterType="java.util.Map">
        UPDATE lock_order
        <set>
            update_time = now(),
            <if test="fee != null and fee != ''">`fee` = #{fee},</if>
            <if test="type != null and type != ''">`type` = #{type},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="end_time != null and end_time != ''">end_time = #{end_time},</if>
            <if test="update_author != null and update_author != ''">update_author = #{update_author},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="listByLockOrder" parameterType="java.util.Map" resultMap="listByLockOrderMap">
        select a.*, b.address, a.user_id ui from lock_order a left join lock_info b on a.lock_no = b.lock_no
        <where>
            and a.status = 0
            <if test="user_id != null and user_id != ''">and a.`user_id` = #{user_id}</if>
            <if test="type != null and type != ''">and a.`type` = #{type}</if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
            <if test="lock_no != null and lock_no != ''">and a.lock_no = #{lock_no}</if>
            <if test="agency_user_id != null and agency_user_id != ''">and b.`user_id` = #{agency_user_id}</if>
            <if test="hospital != null and hospital != ''">and b.`hospital` = #{hospital}</if>
            <if test="qr_code_no != null and qr_code_no != ''">and b.`qr_code_no` = #{qr_code_no}</if>
            <if test="lock_mac != null and lock_mac != ''">and b.`lock_mac` = #{lock_mac}</if>
            <if test="start_time != null and start_time != ''">and a.`start_time` > #{start_time}</if>
            <if test="end_time != null and end_time != ''">and a.`start_time` &lt; #{end_time}</if>
        </where>
        order by a.insert_time desc
    </select>

    <resultMap id="listByLockOrderMap" type="java.util.Map">
        <collection property="user" javaType="java.util.Map" column="ui" select="com.java.mobile.phone.user.mapper.UserMapper.getByUserId"/>
    </resultMap>

    <update id="lock" parameterType="java.util.Map">
        UPDATE lock_order set end_time = now(), fee = #{fee}, `type` = 1 , total_time =(UNIX_TIMESTAMP(now()) - UNIX_TIMESTAMP(start_time))
        where lock_no = #{lock_no} and end_time is null
    </update>

    <update id="deleteLockOrder" parameterType="java.lang.String">
        UPDATE lock_order set end_time = now(), fee = 0, `type` = 1, status = 1 where lock_no = #{lock_no} and end_time is null
    </update>

    <select id="getUnLockOrder" parameterType="java.util.Map" resultType="java.util.Map">
        select a.* from lock_order a where a.lock_no = #{lock_no} and end_time is null
    </select>


    <select id="totalOrder" resultType="java.lang.Integer">
        select count(id) from lock_order;
    </select>

    <select id="totalUseDevice" resultType="java.lang.Integer">
        select count(id) from lock_order where end_time is null ;
    </select>

    <select id="totalTime" resultType="java.lang.Integer">
        select sum(total_time) from lock_order;
    </select>

    <select id="getByLockOrder" parameterType="java.util.Map" resultType="java.util.Map">
        select a.* from lock_order a
        <where>
            and a.status = 0
            <if test="user_id != null and user_id != ''">and a.`user_id` = #{user_id}</if>
            <if test="type != null and type != ''">and a.`type` = #{type}</if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
            <if test="lock_no != null and lock_no != ''">and a.lock_no = #{lock_no}</if>
            <if test="id != null and id != ''">and a.id = #{id}</if>
        </where>
    </select>
</mapper>