<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mobile.phone.lock.mapper.LockInfoMapper">
    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>-->

        INSERT INTO lock_info
        (
        lock_no,
        address,
        latitude,
        longitude,
        qr_code_no,
        device_no,
        insert_author,
        update_author
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.lock_no},
            #{item.address},
            #{item.latitude},
            #{item.longitude},
            #{item.qr_code_no},
            #{item.device_no},
            #{item.user_id},
            #{item.user_id}
            )
        </foreach>
    </insert>

    <insert id="insertOne" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>-->

        INSERT INTO lock_info
        (
        lock_no,
        address,
        latitude,
        longitude,
        qr_code_no,
        device_no,
        lock_mac,
        lock_pwd,
        lock_key,
        insert_author,
        update_author
        )
        VALUES
        (
        #{lock_no},
        #{address},
        #{latitude},
        #{longitude},
        #{qr_code_no},
        #{device_no},
        #{lock_mac},
        #{lock_pwd},
        #{lock_key},
        #{user_id},
        #{user_id}
        )
    </insert>

    <update id="update" parameterType="java.util.Map">
        UPDATE lock_info
        <set>
            update_time = now(),
            <if test="lock_no != null and lock_no != ''">`lock_no` = #{lock_no},</if>
            <if test="address != null and address != ''">`address` = #{address},</if>
            <if test="latitude != null and latitude != ''">latitude = #{latitude},</if>
            <if test="longitude != null and longitude != ''">longitude = #{longitude},</if>
            <if test="qr_code_no != null and qr_code_no != ''">qr_code_no = #{qr_code_no},</if>
            <if test="device_no != null and device_no != ''">device_no = #{device_no},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="update_author != null and update_author != ''">update_author = #{update_author},</if>
            <if test="lock_mac != null and lock_mac != ''">lock_mac = #{lock_mac},</if>
            <if test="lock_pwd != null and lock_pwd != ''">lock_pwd = #{lock_pwd},</if>
            <if test="lock_key != null and lock_key != ''">lock_key = #{lock_key},</if>
            <if test="hospital != null and hospital != ''">hospital = #{hospital},</if>
            <if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="listByLockInfo" parameterType="java.util.Map" resultMap="listByLockInfoMap">
        select a.*,a.user_id ui from lock_info a where a.status = 0
        <trim>
            <if test="state != null and state != ''">and a.`state` = #{state}</if>
            <if test="lock_no != null and lock_no != ''">and a.lock_no = #{lock_no}</if>
            <if test="device_no != null and device_no != ''">and a.device_no = #{device_no}</if>
            <if test="qr_code_no != null and qr_code_no != ''">and a.qr_code_no = #{qr_code_no}</if>
            <if test="lock_mac != null and lock_mac != ''">and a.lock_mac = #{lock_mac}</if>
            <if test="hospital != null and hospital != ''">and a.hospital = #{hospital}</if>
            <if test="user_id != null and user_id != ''">and a.user_id = #{user_id}</if>
        </trim>
    </select>

    <resultMap id="listByLockInfoMap" type="java.util.Map">
        <collection property="user" javaType="java.util.Map" column="ui" select="com.java.mobile.phone.user.mapper.UserMapper.getByUserId"/>
    </resultMap>

    <select id="getLockState" resultType="java.lang.String">
        select a.state from lock_info a where a.lock_no = #{lock_no}
    </select>

    <update id="updateLockState">
        UPDATE lock_info set state = #{state}, update_time = now() where lock_no = #{lock_no}
    </update>

    <select id="getLockInfo" resultType="java.util.Map" parameterType="java.lang.String">
        select a.lock_pwd, a.lock_mac, a.state, a.lock_no, a.type from lock_info a where a.qr_code_no = #{qr_code_no}
    </select>
    <select id="getLockKey" resultType="java.lang.String">
        select a.lock_key from lock_info a where a.qr_code_no = #{qr_code_no}
    </select>
</mapper>